{% load static %}
<div class="container-xl bg-light" data-bs-theme="light">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top border-black">
      <p class="col-md-4 col-3 mb-0 text-muted">© {{ SITE_FOOTER_COPYRIGHT }} <a class="text-decoration-none" href="{{ SITE_FOOTER_LINK }}" target="_blank">{{ SITE_FOOTER_LINK_TITLE }}</a></p>
      <div class="col-md-4 col-6 text-center">
          <a href="">Terms and Conditions</a> | <a href="">Privacy Policy</a>
      </div>
      <ul class="nav col-md-4 col-3 justify-content-end">
        <li class="nav-item"><a href="{{ SITE_FOOTER_TWITTER_LINK }}" target="_blank" class="nav-link px-2"><i class="fa-brands fa-twitter fa-xl"></i></a></li>
        </ul>
  </footer>
</div>