{% load static %}

<div class="container-xl bg-light" data-bs-theme="light">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom border-black">
        <a href="/" class="d-flex align-items-center col-md-2 mb-2 mb-md-0 text-dark text-decoration-none">
            <img src="{% static 'img/logo.png' %}" width="75" height="75" alt="">
        </a>
        <ul class="nav col-12 col-md-7 mb-2 justify-content-center mb-md-0">
            <li><a href="#" class="nav-link px-3">Features</a></li>
            <li><a href="#" class="nav-link px-3">Testimonials</a></li>
            <li><a href="#" class="nav-link px-3">Pricing</a></li>
            <li><a href="#" class="nav-link px-3">FAQs</a></li>
            <li><a href="#" class="nav-link px-3">About</a></li>
        </ul>
        <div class="col-md-3 text-end">
            <a href="" type="button" class="btn btn-outline-primary me-2">
                <i class="fab fa-github"></i>&nbsp&nbsp&nbspSign in with GitHub
            </a>
        </div>
    </header>
</div>