<div id="about" class="row mt-5 p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
    <h2 class="pb-2 border-bottom">About</h2>
    <div class="col-lg-12 mx-auto py-5">
        <p class="lead mb-4">
            Ager.fun is the perfect app for anyone who wants to see how they'll look as they age.
        </p>
        <p class="lead mb-4">
            The task of age transformation illustrates the change of an individual's appearance over time,
            making it the perfect way to explore the different stages of life.
        </p>
        <p class="lead mb-4">
            Whether you're curious about how you'll look as you get older or want to experiment with new looks,
            Ager.fun is the perfect app for you.
        </p>
    </div>
</div>