{% load static %}

<div id="features" class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg mb-5">
    <h1 class="text-center">Revolutionary application</h1>
    <h1 class="text-center">that allows you to see yourself at different ages!</h1>
    <div class="col-lg-7 p-3 p-lg-5 pt-lg-3 mb-5">
        <p class="pt-3 lead">With Ager.fun, all you have to do is upload a photo of yourself, wait a couple of minutes, and you'll receive 10 images of yourself at different ages, ranging from 0 to 100 years old.
        But that's not all - we'll also give you an animated GIF that shows the progression of all your ages, so you can see the changes in real-time.</p>
    </div>
    <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden mb-5">
        <img class="rounded-lg-3" src="{% static 'img/example.jpg' %}" alt="" width="200">
        <img class="rounded-lg-3" src="{% static 'img/video.gif' %}" alt="" width="200">
    </div>
</div>