<div id="pricing" class="row mt-5 p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg justify-content-center">
    <h2 class="pb-2 border-bottom">Pricing</h2>
    <div class="col-12 col-sm-10 col-md-8 col-lg-6 pt-5 py-5">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Standard</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$10<small class="text-muted fw-light">/per photo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Generates 10 photos (1 photo for every 10 years)</li>
              <li>Also includes 1 Animated GIF (Age 0 - 100)</li>
              <li>ZIP download of all photos and GIF</li>
            </ul>
          </div>
        </div>
      </div>
</div>