<div id="testimonials" class="row mt-5 p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
    <h2 class="pb-2 border-bottom">Testimonials</h2>
    <div class="row py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <p>"I never thought I could see myself as an older person, but Ager.fun made it possible. It's amazing how different I look at different ages, and it's really helped me understand the passage of time."</p>
      </div>
      <div class="feature col">
        <p>"I've always been curious about what I'll look like as I age, but I never thought there would be a way to see it for real. Ager.fun is so much fun, and it's given me a whole new perspective on aging."</p>
      </div>
      <div class="feature col">
        <p>"My kids love seeing themselves at different ages, and the animated GIF of all ages is so cool. Ager.fun is a great way for families to explore the concept of aging together."</p>
      </div>
    </div>
</div>